*{
    padding: 0px;
    margin: 0px;
}
/* navbar section start here  */


.nav-section{
    background-color: rgb(25, 159, 172);
   
}
.shop {
    color: rgb(66, 245, 11);
  font-weight: bold;
  font-size: 25px;
}
.online{
    color: rgba(248, 240, 8, 0.981);
    font-weight: bold;
    font-size:25px;
}
.market{
    color: rgb(226, 43, 202);
    font-weight: bold;
    font-size: 25px;  
}
/* header section starts here  */

/* section one start here  */

/* section two start here  */
.text-one>p{
    color:rgb(249, 14, 202) ;
    font-size: 40px;
    font-style: italic;
    font-weight: bold;
}
.text-one{

    text-align: center;
}
.text-m{
    color: rgb(66, 245, 11);
    font-size: 60px;
    font-weight: bold;
}
.text-o{
    color: rgb(66, 245, 11);
    font-size: 60px;
    font-weight: bold;
}

.for-card{
    display: flex;
    justify-content: space-between;
}
.for-card-one{
    background-color: rgb(25, 159, 172);
    border-left: 15px;
    border-right: 15px;
    border-radius: 3px;
    display: inline-block;
    padding-left: 16px;
    padding-right: 16px;
    color: white;
    font-size: 20px;
}
.for-card-two{
    color: brown;
}
.for-pic{
    width: 400px;
}
.for-pic>img{
    width: 100%;
}



.for-but>button{
    background-color: rgb(25, 159, 172); 
    color: white;
    width: 100%;
    border-left: 15px;
    border-right: 15px;
    border-radius: 3px;

}
/* section three start here  */
.section-three{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 30px;
}
/* section four start here  */

/* five section start here  */
.five-section{
    background-color: rgb(25, 159, 172); 
    color: white;
    
    padding: 5px;
    border-left: 15px;
    border-right: 15px;
    border-radius: 5px;
}
/* section six start here  */
.imaging{
    background-image: url("images/headphoneSlide.png");
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
